.git
.github
.venv
__pycache__
.pytest_cache
.ruff_cache
.ipython
.ipynb_checkpoints
data/raw
data/interim
data/processed
deliverables
docs
mlruns
mlartifacts
mlflow.db
notebooks
scripts
tests
*.pyc

